<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${count}">
        <h3 th:text="${count}+ ' Result(s)'"></h3>
    </div>
    <!-- TODO #3 - Use the same list display from search.html -->
    <table class = "job-listing" th:each="jobs : ${jobslist}">
        <tr th:each="singlejob : ${jobs}">
            <td th:text="${singlejob.key}">Key</td>
            <td th:text="${singlejob.value}">Value</td>
        </tr>
    </table>

</div>

</body>
</html>